In [11]:
#prerequisites
import pandas as pd
import numpy as np 
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, classification_report ,confusion_matrix

import warnings
warnings.filterwarnings("ignore")
data = sns.load_dataset("titanic")
df=pd.DataFrame(data)
df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [20]:
df=df[["survived","pclass","sex","age","fare"]]
df
df.dropna(inplace=True)

In [21]:
#encode sex column 
scaler=LabelEncoder()
df["sex"] = scaler.fit_transform(df["sex"])
df["sex"]

0      1
1      0
2      0
3      0
4      1
      ..
885    0
886    1
887    0
889    1
890    1
Name: sex, Length: 714, dtype: int64

In [22]:
 #dataset splitting and scaling
x = df.drop("survived",axis=1)
y = df["survived"]
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

#scaling
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test=scaler.transform(x_test)

In [23]:
#svc
svc = SVC(kernel="rbf",C=1.0,gamma="auto")
svc.fit(x_train,y_train)
y_svc_pred=svc.predict(x_test)

In [24]:
#evaluation of svc 
print("Accuracy of SVC : ", accuracy_score(y_test,y_svc_pred))
print("Classification Report of SVC : ", classification_report(y_test,y_svc_pred))
print("Confusion Matrix of SVC : ", confusion_matrix(y_test,y_svc_pred))

Accuracy of SVC :  0.7412587412587412
Classification Report of SVC :                precision    recall  f1-score   support

           0       0.78      0.79      0.79        87
           1       0.67      0.66      0.67        56

    accuracy                           0.74       143
   macro avg       0.73      0.73      0.73       143
weighted avg       0.74      0.74      0.74       143

Confusion Matrix of SVC :  [[69 18]
 [19 37]]

In [25]:
#kNeighbors Classifier 
kNN = KNeighborsClassifier(n_neighbors=7)
kNN.fit(x_train,y_train)
y_KNN_pred=kNN.predict(x_test)

In [26]:
#evaluation
print("Accuracy of KNN : ", accuracy_score(y_test,y_KNN_pred))
print("Classification Report of KNN : ", classification_report(y_test,y_KNN_pred))
print("Confusion Matrix of KNN : ", confusion_matrix(y_test,y_KNN_pred))

Accuracy of KNN :  0.7762237762237763
Classification Report of KNN :                precision    recall  f1-score   support

           0       0.82      0.82      0.82        87
           1       0.71      0.71      0.71        56

    accuracy                           0.78       143
   macro avg       0.77      0.77      0.77       143
weighted avg       0.78      0.78      0.78       143

Confusion Matrix of KNN :  [[71 16]
 [16 40]]